/*the reset selector*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
}
 body {
    height: 150%;
    width: 720px;
    background-image: url("basketball.jpg"); 
    background-size: cover;
    border: none;
    font-family:Arial, Helvetica, sans-serif;
    font-size:100%;
    margin:15px auto; }
h1, h2 {margin-bottom: .25em;}


     section  {
        padding: 16px;
        width: 720px;
        margin: 20px;
        border: medium solid black;
        font-size: 100%;
        text-align: left;
        font-weight: bold;
        background-color: white;
        border-radius: 15px 15px 0px 0px; 
        box-shadow: 12px 10px 5px rgb(109, 77, 101);
        }

    h1  {font-size: 100%;
        padding: .25em 0; 
        margin: 20px;
        font-size: 200%;
        background-image: linear-gradient(to right, pink, green);
        height: 5em;
        width: 720px;
        border-radius: 10px 10px 10px 10px; 
        text-align:left;
        color:white;
        position: relative;
        z-index: 1;
        top: 50px;
        }
    h1  {
            text-indent: 15px;
          }
      
        nav ul li {
            background-image: linear-gradient(to right, pink, green);
            color: white;
            list-style-type: none;
            text-align: center;
            margin: 0;
            padding: 0; 
            border-radius: 5px 5px 5px 5px; 
          }
          
        nav ul li {
            display: inline-block;
            text-decoration: none;
            font-size: 12px;
            padding: 10px;
            position: relative;
            z-index: 2;
            width: 20%;
            right: 100;
            top: -20px;
            height: 30px;
          }
    
        a:link, a:visited {
            text-decoration: none;
            color: white;
        }


        section h2 ul li {  
            display: inline-block;
            font-size: 100%;
            padding: 0;
            margin: 0 0 1.25em 1.25em;
            overflow: hidden
          }
    
        ul { margin: 0 0 1.25em 1.25em; }

    h2 {
         font-size: 125%;
         background-color: black;
         border-radius: 10px 10px 10px 10px;
         height: 2.0em;
         color: white;
         line-height: 2.0;
         text-align: center;
         vertical-align: middle;
         margin-bottom: 10px;
         }
         
         Footer {margin-top: 5%;
                 background-color:  rgb(182, 182, 182, 0.5);
                 width: 780px;
                 border-radius: 10px 10px 10px 10px;
                 text-align: center;
                 font-size: small;}
               
       